<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :creator %><br>
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :component_type %><br>
    <%= f.text_field :component_type %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :uses %><br>
    <%= f.text_field :uses %>
  </div>
  <div class="field">
    <%= f.label :print_time %><br>
    <%= f.text_field :print_time %>
  </div>
  <div class="field">
    <%= f.label :icon %><br>
    <%= f.file_field :icon %>
  </div>
  <%= f.label "Level of Amputation" %><br>
  <% @amputation_levels.order(:name).each do |level| %>
    <%= check_box_tag "levels[]" , level.id , @component_amputation_level.include?(level) ? true : false %>
     <p> <%= level.name%></p>
   <% end %>
  <%= f.label "Component Type" %><br>
  <% @component_types.order(:name).each do |type| %>
    <%= check_box_tag "component_types[]" , type.id , @current_component_types.include?(type) ? true : false %>
     <p> <%=  type.name%></p>
   <% end %>
  <%= f.label "measurements you will need" %><br>
  <% @measurements.order(:name).each do |measurement| %>
    <%= check_box_tag "measurements[]" , measurement.id , @component_measurements.include?(measurement) ? true : false %>
     <p> <%= measurement.name%></p>
   <% end %>
    <%= f.label "Terminal Devices" %><br>
    <% @terminal_devices.order(:name).each do |td| %>
      <%= check_box_tag "terminal_devices[]" , td.id , @component_tds.include?(td) ? true : false %>
       <p> <%= td.name%></p>
     <% end %>
    <%= f.label "Options available" %><br>
    <% @options.order(:name).each do |option| %>
      <%= check_box_tag "options[]" , option.id , @component_options.include?(option) ? true : false %>
       <p> <%= option.name%></p>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
