<%= render 'pages/dashboardnav'%>
<div id="dashboard">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <h1>Components</h1>
      <div class="col-sm-12 no-padding">
        <a class="add-button" href="<%= new_component_path%>">
          <button>Add new component</button>
        </a>
      </div>
      <div class="col-sm-7">
        <h3> Name</h3>
      </div>
    </div>

    <% @components.order('name ASC').each do |component| %>
      <div class="row bar">
        <div class="col-sm-7">
          <p><strong><%= component.name %></strong></p>
        </div>
        <div class="col-sm-5">
          <p>
            <%= link_to 'Show', component , class: "link index"%>
            <%= link_to 'Edit', edit_component_path(component), class: "link index" %>
            <%= link_to 'Delete', component, method: :delete, data: { confirm: 'Are you sure?' }, class: "link index" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
