<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @device.icon %>
</p>

<p>
  <strong>Orientations:</strong>
  <%= @device.orientations %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
