<%= render 'pages/dashboardnav'%>
<p id="notice"><%= notice %></p>
<div class="container form-padding">
  <h1>Levels of Amputation</h1>
  <div class="row">
    <div class="col-xs-3">
      <h3> Name</h3>
    </div>
  </div>

  <% @amputation_levels.order('name ASC').each do |amputation| %>
    <div class="row">
      <div class="col-xs-3">
        <p><strong><%= amputation.name %></strong></p>
      </div>
      <div class="col-xs-9">
        <p>
          <%= link_to 'Show', amputation , class: "link"%>
          <%= link_to 'Edit', edit_amputation_level_path(amputation), class: "link" %>
          <%= link_to 'Delete', amputation, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
        </p>
      </div>
    </div>
  <% end %>
  <a href="<%= new_amputation_level_path%>">
    <button>Add new component</button>
  </a>
</div>
