<%= render 'pages/dashboardnav'%>
<div id="dashboard">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <h1>Levels of Amputation</h1>
      <div class="col-sm-12 no-padding">
        <a class="add-button" href="<%= new_amputation_level_path%>">
          <button>Add new level</button>
        </a>
      </div>
      <div class="col-sm-7">
        <h3> Name</h3>
      </div>
    </div>

    <% @amputation_levels.order('name ASC').each do |amputation| %>
      <div class="row bar">
        <div class="col-sm-7">
          <p><strong><%= amputation.name %></strong></p>
        </div>
        <div class="col-sm-5">
          <p>
            <%= link_to 'Show', amputation , class: "link index"%>
            <%= link_to 'Edit', edit_amputation_level_path(amputation), class: "link index" %>
            <%= link_to 'Delete', amputation, method: :delete, data: { confirm: 'Are you sure?' }, class: "link index" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
