<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @amputation_level.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @amputation_level.description %>
</p>

<%= link_to 'Edit', edit_amputation_level_path(@amputation_level) %> |
<%= link_to 'Back', amputation_levels_path %>
