<div id='devise' class="container">
  <%= devise_error_messages! %>
  <div class="form-container center password">
    <a class="blue-txt home" href='https://www.limbforge.org/'>home</a>
    <a class="blue-txt new-account" href="<%= new_session_path(resource_name) %>"> login</a>
    <img src="<%= asset_path('brand/logo.svg')%>">
    <p class="header">Limbforge_password_reset</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field">
        <%= f.email_field :email, placeholder: 'email', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Email me instructions", class: 'password-reset' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
