<div id="dashboard-nav">
  <ul>
    <li class="<%= params[:controller] == "components" ? "active" : ""%>"> <%= link_to "Components", components_path %></li>
    <li class="<%= params[:controller] == "component_types" ? "active" : ""%>"> <%= link_to "Component Types", component_types_path %></li>
    <li class="<%= params[:controller] == "measurements" ? "active" : ""%>"><%= link_to "Measurements", measurements_path %></li>
    <li class="<%= params[:controller] == "options" ? "active" : ""%>"><%= link_to "Options",options_path %></li>
    <li class="<%= params[:controller] == "amputation_levels" ? "active" : ""%>"><%= link_to "Levels", amputation_levels_path %></li>
  </ul>
</div>
