<div id="dashboard-nav">
  <div class="col-xs-2">
    <img src="<%= asset_path('brand/logo.svg')%>">
    <h1>Admin</h1>
  </div>
  <div class="col-xs-10 no-padding">
    <ul>
      <li class="<%= params[:controller] == "pages" ? "active" : ""%>"> <%= link_to "Requests", access_requests_path %></li>
      <li class="<%= params[:controller] == "components" ? "active" : ""%>"> <%= link_to "Components", components_path %></li>
      <li class="<%= params[:controller] == "terminal_devices" ? "active" : ""%>"><%= link_to "TDs", terminal_devices_path %></li>
      <li class="<%= params[:controller] == "measurements" ? "active" : ""%>"><%= link_to "Measurements", measurements_path %></li>
      <li class="<%= params[:controller] == "amputation_levels" ? "active" : ""%>"><%= link_to "Levels", amputation_levels_path %></li>
      <li class="limbforge"><%= link_to "LimbForge", limbforge_path %></li>
    </ul>
  </div>
  <a class="signout" href="<%= destroy_user_session_path%>" data-method="delete">sign out </a>
</div>
