<%= render 'pages/dashboardnav'%>
<p id="notice"><%= notice %></p>

<div class="container form-padding">
  <h1><%= @terminal_device.name %></h1>
  
  <%= link_to 'Edit', edit_terminal_device_path(@terminal_device) %> |
  <%= link_to 'Back', terminal_devices_path %>
</div>
