<%= render 'pages/dashboardnav'%>
<div id="dashboard">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <h1>Limb Measurements</h1>
      <div class="col-sm-12 no-padding">
      <a class="add-button" href="<%= new_measurement_path%>">
        <button>Add new Measurement</button>
      </a>
      </div>
      <div class="col-sm-7">
        <h3> Name</h3>
      </div>
    </div>

    <% @measurements.order('name ASC').each do |measurement| %>
      <div class="row bar">
        <div class="col-sm-7">
          <p><strong><%= measurement.name %></strong></p>
        </div>
        <div class="col-sm-5">
          <p>
            <%= link_to 'Show', measurement , class: "link index"%>
            <%= link_to 'Edit', edit_measurement_path(measurement), class: "link index" %>
            <%= link_to 'Delete', measurement, method: :delete, data: { confirm: 'Are you sure?' }, class: "link index" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
