<%= form_for(@component_type) do |f| %>
  <% if @component_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component_type.errors.count, "error") %> prohibited this component_type from being saved:</h2>

      <ul>
      <% @component_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
