<!DOCTYPE html>
<html>
<head>
  <title>Limbforge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="icon" type="image" href="<%= asset_path('brand/favicon.ico')%>" />
  <% #typekit fonts %>
  <% #meta tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
  <body id="<%= params[:controller]%>" class="<%= params[:action] %>">
    <%= render "devise/shared/flash_messages" %>
    <%= yield %>
  </body>
</html>
